ApprovalWorkflow/logicapps/flows/flow3-expiry.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections":           { "defaultValue": {}, "type": "Object" },
    "appBaseUrl":             { "defaultValue": "", "type": "String" },
    "dataverseEnvironmentUrl": { "defaultValue": "", "type": "String" }
  },
  "triggers": {
    "Recurrence_Every_Hour": {
      "type": "Recurrence",
      "recurrence": {
        "frequency": "Hour",
        "interval": 1
      }
    }
  },
  "actions": {
    "List_Pending_Expired_Requests": {
      "runAfter": {},
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['commondataservice']['connectionId']"
          }
        },
        "method": "get",
        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('dataverseEnvironmentUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('cr_approvalrequests'))}/items",
        "queries": {
          "$filter": "cr_status eq 1 and cr_expirydate lt '@{utcNow()}'"
        }
      }
    },
    "For_Each_Expired_Request": {
      "runAfter": { "List_Pending_Expired_Requests": [ "Succeeded" ] },
      "type": "Foreach",
      "foreach": "@body('List_Pending_Expired_Requests')?['value']",
      "actions": {
        "Notify_App_of_Expiry": {
          "runAfter": {},
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "@{concat(parameters('appBaseUrl'), '/api/approval/expiry-notify')}",
            "headers": { "Content-Type": "application/json" },
            "body": {
              "approvalRequestId": "@{items('For_Each_Expired_Request')?['cr_approvalrequestid']}"
            }
          }
        },
        "Send_Expiry_Email_to_Requester": {
          "runAfter": { "Notify_App_of_Expiry": [ "Succeeded" ] },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['office365']['connectionId']"
              }
            },
            "method": "post",
            "path": "/v2/Mail",
            "body": {
              "To": "@{items('For_Each_Expired_Request')?['cr_requestedby']}",
              "Subject": "Expired: @{items('For_Each_Expired_Request')?['cr_title']}",
              "Body": "<p>Your approval request has expired with no response.</p><table><tr><td><b>Request:</b></td><td>@{items('For_Each_Expired_Request')?['cr_title']}</td></tr><tr><td><b>Submitted:</b></td><td>@{items('For_Each_Expired_Request')?['createdon']}</td></tr><tr><td><b>Expired:</b></td><td>@{items('For_Each_Expired_Request')?['cr_expirydate']}</td></tr></table><p>Please resubmit the request if approval is still needed.</p>",
              "IsHtml": true
            }
          }
        }
      }
    }
  },
  "outputs": {}
}
