ApprovalWorkflow/logicapps/deploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",

  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": { "description": "Azure region for all resources." }
    },
    "appName": {
      "type": "string",
      "defaultValue": "approvals-demo",
      "metadata": { "description": "Prefix for resource names, e.g. approvals-demo." }
    },
    "appBaseUrl": {
      "type": "string",
      "metadata": { "description": "Public base URL of the .NET app, e.g. https://myapp.azurewebsites.net" }
    },
    "dataverseEnvironmentUrl": {
      "type": "string",
      "metadata": { "description": "Dataverse environment URL, e.g. https://myorg.crm.dynamics.com" }
    },
    "teamsWebhookUrl": {
      "type": "string",
      "defaultValue": "",
      "metadata": { "description": "(Optional) Incoming Webhook URL for the Teams channel." }
    }
  },

  "variables": {
    "office365ConnName": "[concat(parameters('appName'), '-office365')]",
    "dataverseConnName": "[concat(parameters('appName'), '-dataverse')]",
    "flow1Name":         "[concat(parameters('appName'), '-flow1-initiate')]",
    "flow2Name":         "[concat(parameters('appName'), '-flow2-callback')]",
    "flow3Name":         "[concat(parameters('appName'), '-flow3-expiry')]",
    "office365ApiId":    "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]",
    "dataverseApiId":    "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/commondataservice')]",
    "office365ConnId":   "[resourceId('Microsoft.Web/connections', variables('office365ConnName'))]",
    "dataverseConnId":   "[resourceId('Microsoft.Web/connections', variables('dataverseConnName'))]"
  },

  "resources": [

    {
      "comments": "--- API CONNECTION: Office 365 Outlook ---",
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "[concat(parameters('appName'), '-office365')]",
        "api": { "id": "[variables('office365ApiId')]" }
      }
    },

    {
      "comments": "--- API CONNECTION: Microsoft Dataverse (Common Data Service) ---",
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('dataverseConnName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "[concat(parameters('appName'), '-dataverse')]",
        "api": { "id": "[variables('dataverseApiId')]" }
      }
    },

    {
      "comments": "--- LOGIC APP: Flow 1 – Initiate & Notify ---",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('flow1Name')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[variables('office365ConnId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections":    { "defaultValue": {}, "type": "Object" },
            "appBaseUrl":      { "defaultValue": "[parameters('appBaseUrl')]",      "type": "String" },
            "teamsWebhookUrl": { "defaultValue": "[parameters('teamsWebhookUrl')]", "type": "String" }
          },
          "triggers": {
            "When_a_HTTP_request_is_received": {
              "type": "Request", "kind": "Http",
              "inputs": {
                "method": "POST",
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId":     { "type": "string" },
                    "title":         { "type": "string" },
                    "requestedBy":   { "type": "string" },
                    "approverEmail": { "type": "string" },
                    "approverType":  { "type": "string" },
                    "documentUrl":   { "type": "string" },
                    "expiryHours":   { "type": "integer" },
                    "rawToken":      { "type": "string" }
                  }
                }
              }
            }
          },
          "actions": {
            "Parse_request_body": {
              "runAfter": {},
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId":     { "type": "string" },
                    "title":         { "type": "string" },
                    "requestedBy":   { "type": "string" },
                    "approverEmail": { "type": "string" },
                    "approverType":  { "type": "string" },
                    "documentUrl":   { "type": "string" },
                    "expiryHours":   { "type": "integer" },
                    "rawToken":      { "type": "string" }
                  }
                }
              }
            },
            "Notify_Approver": {
              "runAfter": { "Parse_request_body": [ "Succeeded" ] },
              "type": "If",
              "expression": {
                "and": [ { "equals": [ "@triggerBody()?['approverType']", "Internal" ] } ]
              },
              "actions": {
                "Post_Teams_Adaptive_Card": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@{parameters('teamsWebhookUrl')}",
                    "headers": { "Content-Type": "application/json" },
                    "body": {
                      "type": "message",
                      "attachments": [
                        {
                          "contentType": "application/vnd.microsoft.card.adaptive",
                          "content": {
                            "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                            "type": "AdaptiveCard",
                            "version": "1.4",
                            "body": [
                              { "type": "TextBlock", "text": "Approval Required", "weight": "Bolder", "size": "Medium", "color": "Accent" },
                              {
                                "type": "FactSet",
                                "facts": [
                                  { "title": "Request",  "value": "@{triggerBody()?['title']}" },
                                  { "title": "From",     "value": "@{triggerBody()?['requestedBy']}" },
                                  { "title": "Approver", "value": "@{triggerBody()?['approverEmail']}" }
                                ]
                              },
                              { "type": "TextBlock", "text": "Please review the document and submit your decision.", "wrap": true }
                            ],
                            "actions": [
                              { "type": "Action.OpenUrl", "title": "Review & Decide", "url": "@{triggerBody()?['documentUrl']}" }
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Send_Approval_Email": {
                    "runAfter": {},
                    "type": "ApiConnection",
                    "inputs": {
                      "host": { "connection": { "name": "@parameters('$connections')['office365']['connectionId']" } },
                      "method": "post",
                      "path": "/v2/Mail",
                      "body": {
                        "To": "@triggerBody()?['approverEmail']",
                        "Subject": "Action Required: @{triggerBody()?['title']}",
                        "Body": "<p>You have been asked to review and approve a document.</p><table><tr><td><b>Request:</b></td><td>@{triggerBody()?['title']}</td></tr><tr><td><b>Submitted by:</b></td><td>@{triggerBody()?['requestedBy']}</td></tr></table><p><a href=\"@{triggerBody()?['documentUrl']}\" style=\"background:#0078d4;color:white;padding:12px 24px;text-decoration:none;border-radius:4px;font-weight:bold;display:inline-block;\">Review &amp; Decide</a></p><p><i>This link is single-use and expires in @{triggerBody()?['expiryHours']} hours.</i></p>",
                        "IsHtml": true
                      }
                    }
                  }
                }
              }
            },
            "Wait_For_Approver_Callback": {
              "runAfter": { "Notify_Approver": [ "Succeeded" ] },
              "type": "HttpWebhook",
              "inputs": {
                "subscribe": {
                  "method": "POST",
                  "uri": "@{concat(parameters('appBaseUrl'), '/api/approval/callback')}",
                  "headers": { "Content-Type": "application/json" },
                  "body": {
                    "approvalRequestId": "@{triggerBody()?['requestId']}",
                    "callbackUrl": "@{listCallbackUrl()}"
                  }
                },
                "unsubscribe": {}
              }
            },
            "Send_Decision_Notification": {
              "runAfter": { "Wait_For_Approver_Callback": [ "Succeeded" ] },
              "type": "If",
              "expression": {
                "and": [ { "equals": [ "@body('Wait_For_Approver_Callback')?['decision']", "Approved" ] } ]
              },
              "actions": {
                "Send_Approval_Notification_Email": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "host": { "connection": { "name": "@parameters('$connections')['office365']['connectionId']" } },
                    "method": "post",
                    "path": "/v2/Mail",
                    "body": {
                      "To": "@triggerBody()?['requestedBy']",
                      "Subject": "Approved: @{triggerBody()?['title']}",
                      "Body": "<p>Your approval request has been <strong>approved</strong>.</p><table><tr><td><b>Approved by:</b></td><td>@{body('Wait_For_Approver_Callback')?['approvedBy']}</td></tr><tr><td><b>Comments:</b></td><td>@{body('Wait_For_Approver_Callback')?['comments']}</td></tr></table>",
                      "IsHtml": true
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Send_Rejection_Notification_Email": {
                    "runAfter": {},
                    "type": "ApiConnection",
                    "inputs": {
                      "host": { "connection": { "name": "@parameters('$connections')['office365']['connectionId']" } },
                      "method": "post",
                      "path": "/v2/Mail",
                      "body": {
                        "To": "@triggerBody()?['requestedBy']",
                        "Subject": "Rejected: @{triggerBody()?['title']}",
                        "Body": "<p>Your approval request has been <strong>rejected</strong>.</p><table><tr><td><b>Rejected by:</b></td><td>@{body('Wait_For_Approver_Callback')?['approvedBy']}</td></tr><tr><td><b>Comments:</b></td><td>@{body('Wait_For_Approver_Callback')?['comments']}</td></tr></table>",
                        "IsHtml": true
                      }
                    }
                  }
                }
              }
            },
            "Respond_to_trigger": {
              "runAfter": { "Send_Decision_Notification": [ "Succeeded" ] },
              "type": "Response",
              "inputs": {
                "statusCode": 200,
                "headers": { "Content-Type": "application/json" },
                "body": { "status": "completed", "decision": "@{body('Wait_For_Approver_Callback')?['decision']}" }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId":   "[variables('office365ConnId')]",
                "connectionName": "[variables('office365ConnName')]",
                "id":             "[variables('office365ApiId')]"
              }
            }
          }
        }
      }
    },

    {
      "comments": "--- LOGIC APP: Flow 2 – Callback Relay ---",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('flow2Name')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[variables('dataverseConnId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections":          { "defaultValue": {}, "type": "Object" },
            "dataverseEnvironmentUrl": { "defaultValue": "[parameters('dataverseEnvironmentUrl')]", "type": "String" }
          },
          "triggers": {
            "When_a_HTTP_request_is_received": {
              "type": "Request", "kind": "Http",
              "inputs": {
                "method": "POST",
                "schema": {
                  "type": "object",
                  "properties": {
                    "approvalRequestId": { "type": "string" },
                    "decision":          { "type": "string" },
                    "comments":          { "type": "string" },
                    "approvedBy":        { "type": "string" }
                  }
                }
              }
            }
          },
          "actions": {
            "Parse_callback_body": {
              "runAfter": {},
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "type": "object",
                  "properties": {
                    "approvalRequestId": { "type": "string" },
                    "decision":          { "type": "string" },
                    "comments":          { "type": "string" },
                    "approvedBy":        { "type": "string" }
                  }
                }
              }
            },
            "List_Dataverse_Row": {
              "runAfter": { "Parse_callback_body": [ "Succeeded" ] },
              "type": "ApiConnection",
              "inputs": {
                "host": { "connection": { "name": "@parameters('$connections')['commondataservice']['connectionId']" } },
                "method": "get",
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('dataverseEnvironmentUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('cr_approvalrequests'))}/items",
                "queries": {
                  "$filter": "cr_approvalrequestid eq '@{triggerBody()?['approvalRequestId']}'"
                }
              }
            },
            "Check_Row_And_Callback": {
              "runAfter": { "List_Dataverse_Row": [ "Succeeded" ] },
              "type": "If",
              "expression": {
                "and": [
                  { "greater": [ "@length(body('List_Dataverse_Row')?['value'])", 0 ] },
                  { "not": { "equals": [ "@first(body('List_Dataverse_Row')?['value'])?['cr_callbackurl']", "" ] } }
                ]
              },
              "actions": {
                "Resume_Flow1_via_Callback": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@{first(body('List_Dataverse_Row')?['value'])?['cr_callbackurl']}",
                    "headers": { "Content-Type": "application/json" },
                    "body": {
                      "decision":   "@{triggerBody()?['decision']}",
                      "comments":   "@{triggerBody()?['comments']}",
                      "approvedBy": "@{triggerBody()?['approvedBy']}"
                    }
                  }
                },
                "Respond_200": {
                  "runAfter": { "Resume_Flow1_via_Callback": [ "Succeeded" ] },
                  "type": "Response",
                  "inputs": {
                    "statusCode": 200,
                    "headers": { "Content-Type": "application/json" },
                    "body": { "status": "resumed", "decision": "@{triggerBody()?['decision']}" }
                  }
                }
              },
              "else": {
                "actions": {
                  "Respond_400_Not_Found": {
                    "runAfter": {},
                    "type": "Response",
                    "inputs": {
                      "statusCode": 400,
                      "headers": { "Content-Type": "application/json" },
                      "body": { "error": "Callback URL not found for this request" }
                    }
                  },
                  "Terminate_Flow": {
                    "runAfter": { "Respond_400_Not_Found": [ "Succeeded" ] },
                    "type": "Terminate",
                    "inputs": { "runStatus": "Failed", "runError": { "code": "CallbackNotFound", "message": "Approval request not found or callback URL is empty" } }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "commondataservice": {
                "connectionId":   "[variables('dataverseConnId')]",
                "connectionName": "[variables('dataverseConnName')]",
                "id":             "[variables('dataverseApiId')]"
              }
            }
          }
        }
      }
    },

    {
      "comments": "--- LOGIC APP: Flow 3 – Expiry Checker (hourly) ---",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('flow3Name')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[variables('office365ConnId')]",
        "[variables('dataverseConnId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections":           { "defaultValue": {}, "type": "Object" },
            "appBaseUrl":             { "defaultValue": "[parameters('appBaseUrl')]",             "type": "String" },
            "dataverseEnvironmentUrl": { "defaultValue": "[parameters('dataverseEnvironmentUrl')]", "type": "String" }
          },
          "triggers": {
            "Recurrence_Every_Hour": {
              "type": "Recurrence",
              "recurrence": { "frequency": "Hour", "interval": 1 }
            }
          },
          "actions": {
            "List_Pending_Expired_Requests": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": { "connection": { "name": "@parameters('$connections')['commondataservice']['connectionId']" } },
                "method": "get",
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('dataverseEnvironmentUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('cr_approvalrequests'))}/items",
                "queries": {
                  "$filter": "cr_status eq 1 and cr_expirydate lt '@{utcNow()}'"
                }
              }
            },
            "For_Each_Expired_Request": {
              "runAfter": { "List_Pending_Expired_Requests": [ "Succeeded" ] },
              "type": "Foreach",
              "foreach": "@body('List_Pending_Expired_Requests')?['value']",
              "actions": {
                "Notify_App_of_Expiry": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@{concat(parameters('appBaseUrl'), '/api/approval/expiry-notify')}",
                    "headers": { "Content-Type": "application/json" },
                    "body": { "approvalRequestId": "@{items('For_Each_Expired_Request')?['cr_approvalrequestid']}" }
                  }
                },
                "Send_Expiry_Email_to_Requester": {
                  "runAfter": { "Notify_App_of_Expiry": [ "Succeeded" ] },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": { "connection": { "name": "@parameters('$connections')['office365']['connectionId']" } },
                    "method": "post",
                    "path": "/v2/Mail",
                    "body": {
                      "To": "@{items('For_Each_Expired_Request')?['cr_requestedby']}",
                      "Subject": "Expired: @{items('For_Each_Expired_Request')?['cr_title']}",
                      "Body": "<p>Your approval request has expired with no response.</p><table><tr><td><b>Request:</b></td><td>@{items('For_Each_Expired_Request')?['cr_title']}</td></tr><tr><td><b>Submitted:</b></td><td>@{items('For_Each_Expired_Request')?['createdon']}</td></tr><tr><td><b>Expired:</b></td><td>@{items('For_Each_Expired_Request')?['cr_expirydate']}</td></tr></table>",
                      "IsHtml": true
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId":   "[variables('office365ConnId')]",
                "connectionName": "[variables('office365ConnName')]",
                "id":             "[variables('office365ApiId')]"
              },
              "commondataservice": {
                "connectionId":   "[variables('dataverseConnId')]",
                "connectionName": "[variables('dataverseConnName')]",
                "id":             "[variables('dataverseApiId')]"
              }
            }
          }
        }
      }
    }

  ],

  "outputs": {
    "office365ConnectionName": {
      "type": "string",
      "value": "[variables('office365ConnName')]"
    },
    "dataverseConnectionName": {
      "type": "string",
      "value": "[variables('dataverseConnName')]"
    },
    "flow1LogicAppName": {
      "type": "string",
      "value": "[variables('flow1Name')]"
    },
    "flow2LogicAppName": {
      "type": "string",
      "value": "[variables('flow2Name')]"
    },
    "flow3LogicAppName": {
      "type": "string",
      "value": "[variables('flow3Name')]"
    }
  }
}
